<!-- <mat-card>
  <mat -->
<!-- <a mat-list-item [routerLink]="['/admin/status']">Status</a> -->

<!-- <div align="center">
<mat-card class="example-card">
    <mat-card >
        <mat-card-header style="height:25px; margin-top: 15px ">
          <mat-card-title   style="     padding-left: 78px; margin-top: -8px;">Staff Login</mat-card-title>
        </mat-card-header>
  </mat-card> -->

<mat-tab-group class="example">
  <mat-tab label="Staff Registration">
    <mat-card>
      <mat-card-content>
        <div align="center" class="example-large-box mat-elevation-z4">
          <form class="my-form">
            <mat-form-field class="full-width">
              <mat-label>Surname</mat-label>
              <input autocomplete="off" matInput autocomplete="off" autocomplete="off" placeholder="surname"
                [(ngModel)]="surname" name="surname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>First Name</mat-label>
              <input autocomplete="off" matInput autocomplete="off" autocomplete="off" placeholder="first name"
                [(ngModel)]="first_name" name="fname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-select placeholder="select your role" [(ngModel)]="role" name="role" required>
                <mat-option value="operator">operator</mat-option>
                <mat-option value="bookKeeper">bookKeeper</mat-option>
                <mat-option value="accountant">accountant</mat-option>
                <mat-option value="Admin">Admin</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>EmployId</mat-label>
              <input autocomplete="off" matInput autocomplete="off" autocomplete="off" placeholder="Employ ID"
                [(ngModel)]="employeeId" name="eId">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input autocomplete="off" matInput autocomplete="off" autocomplete="off" placeholder="password"
                [(ngModel)]="password" name="eId">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Mobile</mat-label>
                <input autocomplete="off" matInput autocomplete="off" autocomplete="off" placeholder="mobile"
                  [(ngModel)]="mobile" name="mobile" required>
              </mat-form-field>
              <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input autocomplete="off" matInput autocomplete="off" autocomplete="off" placeholder="email"
                    [(ngModel)]="email" name="email" required>
                </mat-form-field>
          </form>
          <button mat-button (click)="register()">Submit</button>
        </div>
        <!-- </mat-card-actions> -->
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Client Registration">
    <app-company-registration></app-company-registration>
  </mat-tab>
  
    
</mat-tab-group>

<!-- </mat-card> -->