// .mat-tab-group .mat-ink-bar{
//     background-color:
//     // background: #ffbc1c;
//     // color: #ffbc1c;
// }
// .mat-
// table {
//     width:700px;
// }
// mat-table{
//     width: 1000px;
// }
.mat-header-cell{
    color: black;
    font-weight :bold;
    text-align: center;
    // padding-left: 37px;
    font-size: 14px;
  }
  a:hover {
    background: #CCC;
  }