td{
    // padding-left: 25px;
    margin-left: -17pc;

  }
  .mat-button {
    // margin-top: 70px;
    margin-left: 1pc;
    background: linear-gradient(to bottom,  #C6636D 0% , #9E1820  100%);
      color: white;
    }
    textarea{
      height: 7pc;
    width: 25pc;
    }