<div style="float:right">
  <a href='#/accountant/status' target="_blank">Go To Home Page</a>
  <!-- <p (click)="home()">Go To Home Page</p> -->
</div>

<mat-card style=" margin: 5% 10%;" class="border"  class="mat-elevation-z8">
  <div align="center">
    <div class='ex'>
      <!-- <div align="center" class="twenty"> -->
      <table class="table table-bordered">
        <tr *ngIf="s.c_type!='company'">
          <td style=" font-weight: 600;">Customer Name:</td>
          <td>{{s.c_name}}</td>
        </tr>
        <tr *ngIf="s.c_type=='company'">
          <td style=" font-weight: 600;">Compay Name:</td>
          <td>{{s.c_name}}</td>
        </tr>
        <tr>
          <td style=" font-weight: 600;">Case:</td>
          <td>
            <h6>Year:&nbsp;&nbsp;{{claims[0]}}</h6>
            <h6>Category::&nbsp;&nbsp;{{claims[1]}}</h6>
            <h6>For:&nbsp;&nbsp;{{claims[2]}}</h6>
          </td>
        </tr>
        <tr *ngIf="st">
          <td style="font-weight: 600;">Present Status:</td>
          <td>{{st.status}}</td>
        </tr>
        <tr *ngIf="c.length!=0">
          <td colspan="2" style="font-weight: 600; white-space: pre-wrap">Documents attached:
            <p style="font-weight: 400">{{c}}</p>
          </td>
        </tr>
        <tr *ngIf="c.length==0">
          <td style="font-weight: 600;">Documents attached:</td>
          <td>No Documents</td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <div *ngIf="st">
        <div *ngIf=" st.status != 'accountant_inreview'">
          <div *ngIf='flag0'>
            <h6><b>Do You Want To Accept the Task?</b></h6>
            <br>
            <button mat-button type="submit" (click)="accept()">Accept</button>
            <button mat-button type="submit" (click)="close()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<mat-card *ngIf="st && st.status == 'accountant_inreview'" style=" margin: 5% 10%;" class="border"  class="mat-elevation-z8">
  <div align="center">
    <label style="font-size:170%; ">TIME &nbsp;COUNTER</label>
    <br>
    <div id="countdown" *ngIf="d">
      <div class="hour"><span class="num"></span>{{d["_data"]['hours']}}<span class="word">hours</span></div>
      <div class="min"><span class="num"></span>{{d["_data"]['minutes']}}<span class="word">min</span></div>
      <div class="sec"><span class="num"></span>{{d["_data"]['seconds']}}<span class="word">sec</span></div>
    </div>
    <div class='ex'>
      <table class="table table-bordered">
        <tr>
          <td style="font-weight: 600; ">Present Status:</td>
          <td>{{st.status}}</td>
        </tr>
        <tr>
          <td style="font-weight: 600;">Documents :</td>
          <td>
            <button mat-button type="submit" (click)="view()">Check Documents</button>
          </td>
        </tr>
        <!-- <tr>
          <td style="font-weight: 600; border:none">Note:</td></tr>        -->
      </table>
      <div>
        <label style="float:left" for="comment"><b>Note:</b></label>
        <textarea class="form-control" rows="5" id="comment" [(ngModel)]="note" placeholder=" Please Enter Note!"></textarea>
      </div>
      <div>
        <button style="margin-top: 6px;" mat-button type="submit" (click)="submit('ok')">Ok</button>
        <!-- <span class="spacer"></span> -->
        <button mat-button type="submit" (click)="submit('hold')">Hold</button>
        <!-- <span class="spacer"></span> -->
        <button mat-button type="submit" (click)="submit('revert')">Revert</button>
      </div>
    </div>
  </div>
</mat-card>